*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: segoe ui;
    box-sizing: border-box;
}
/* header///////////////////// */
.header{
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(223, 223, 223, 0.685);
    backdrop-filter: blur(10px);
}
.navigation{
    width: 90%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 20%;
    position: relative;
    overflow: hidden;
}
.logo1{
    height: 72px;
    top: -8px;
    position: absolute;
}
.nav-bar{
    width: 40%;
}
.nav-bar ul{
    width: 100%;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    transition-duration: .7s;
}
.nav-items:first-child{
    color: rgb(12, 182, 131);
}
.nav-items:hover{
    transform: rotate(5deg);
    text-shadow: 2px 2px 3px rgb(12, 182, 131);
    cursor: pointer;
}
/* banner section ////////////////// */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: 40%;
    position: relative;
}
.banner-title{
    width: 40%;
    height: 300px;
    border-radius: 15px;
    position: absolute;
    top: 22%;
    left: 3%;
    padding: 2%;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    background-color: rgba(192, 191, 191, 0.637);
    backdrop-filter: blur(4px); 
}
.btn{
    font-size: 20px;
    font-weight: 500;
    padding: 2% 4%;
    float: right;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 7px;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    background-color: transparent;
    transition-duration: .5s;
}
.btn:hover{
    box-shadow: 2px 2px 4px white;
}
.btn:hover::after{
    content:' here';
}

/* product section ............................ */
.product-container{
    width: 100%;
    padding: 30px 0px;    
    color: black;
    text-align: center;
    background-color: whitesmoke;
}
.product-container h2{
    text-shadow: 1px 1px 2px black;
    color: rgb(12, 182, 131);
}
.product-items{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.items{
    width: 32%;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    /* transition-duration: 2s; */
}
.items:nth-child(1){
    background-image: url(./img/p1.jpg);
}
.items:nth-child(2){
    background-image: url(./img/p2.jpeg);
}
.items:nth-child(3){
    background-image: url(./img/p3.jpg);
}
.items:nth-child(4){
    background-image: url(./img/p4.jpg);
}
.items:nth-child(5){
    background-image: url(./img/p5.jpg);
}
.items:nth-child(6){
    background-image: url(./img/p6.jpg);
}
.items:nth-child(7){
    background-image: url(./img/p7.jpg);
}
.items:nth-child(8){
    background-image: url(./img/p8.jpg);
}
.item-title{
    color: white;
    width: 100%;
    height: 25%;
    bottom: 0%;
    padding: 3%;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    /* transition-duration: 1s; */
    transition: 1s;

}
.item-title h2{
    color: white;
}
.items:hover .item-title{
    height: 100%;
    line-height: 40px;
}
/* Trends section ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.trends-container{
    width: 100%;
    height: 70vh;
    /* overflow: hidden; */
    cursor: pointer;
}
.t-wrapper{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* background-color: red; */
}
.trends-item{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    transition-duration: 2s;
}
.trends-img{
    width: 25%;
    height: 70vh;
    display: flex;
    justify-content: center;
    /* background-color: rgb(177, 171, 171); */
}
.trends-img img{
    height: 100%;
}
.trends-title{
    width: 75%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.767); */
}
.padd{
    width: 80%;
    height: 70%;
    line-height: 2.5rem;
    /* background-color: cornflowerblue; */
    padding: 5%;
}
.padd h1{
    font-size: 2rem;
    font-weight: 450;
}
.padd button{
    width:20%;
    height: 20%;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: transparent;
}
.trends-item:nth-child(1){
    background-color: rgb(83 165 141);
}
.trends-item:nth-child(2){
    margin-left: 25%;
    background-color: rgb(73 94 91);
}
.trends-item:nth-child(3){
    margin-left: 50%;
    background-color: rgb(47 120 99);
}
.trends-item:nth-child(4){
    margin-left: 75%;
    background-color: rgb(0 68 48);
}
.trends-item:nth-child(4):hover{
    margin-left: 0px;
}
.trends-item:nth-child(3):hover{
    margin-left: 0px;
}
.trends-item:nth-child(3):hover ~.trends-item:nth-child(n){
    margin-left: 100%;
}
.trends-item:nth-child(3):hover ~.trends-item:nth-child(1){
    margin-left: 100%;
}
.trends-item:nth-child(2):hover{
    margin-left: 0px;
}
.trends-item:nth-child(2):hover ~.trends-item:nth-child(n){
    margin-left: 100%;
}
.trends-item:nth-child(1):hover ~.trends-item:nth-child(n){
    margin-left: 100%;
}

/* form section ///////////////////////////// */
.form-wrapper{
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
}
.form-title h2{
    font-size: 25px;
    margin: 40px auto;
    text-align: center;
    color: rgb(12, 182, 131);
    text-shadow: 1px 1px 2px black;
}
.f-form{
    width: 65%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
}
form .input{
    height: 50px;
    font-size: 20px;
    color: black;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid black;
}
.text-area{
    height: 120px;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
}
.f-btn{
    width: 15%;
    height: 50px;
    font-size: 20px;
    font-family: segoe ui;
    border: none;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 8px;
    background-color: rgb(12, 182, 131);
}
.f-btn:hover{
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.349);
}

/* suscribe section '''''''''''''''''''''''''''''''''''''''''' */
.suscribe{
    width: 100%;
    height: 500px;
    background-image: url(./img/s2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.suscribe-title{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.753);
}
.suscribe-title form{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
}
.s-title h1{
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 50px;
    font-family: Segoe UI;
}
.s-input{
    background-color: transparent;
    height: 50px;
    font-size: 20px;
    color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid white;
}
.s-btn{
    width: 20%;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
/* footer section //////////////////////////////////////////// */
footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}
.footer-wrapper{
    width: 90%;
    height: 370px;
    padding-top: 4%;
    margin: 0px auto;
    display: flex;
    color: red;
    justify-content: space-between;
}
.f-items{
    width: 30%;
    font-family: segoe ui;
    font-size: 10px;
    font-weight: 100;
}
.f-items h3{
    font-size: 25px;
    font-weight: 100;
}
hr{
    width: 60%;
}
.f-items ul{
    font-size: 20px;
    padding-top: 20px;
    line-height: 35px;
    list-style: none;
}
.w-links{
    margin-top: 20px;
    height: 30px;
}
.w-links img{
    margin-left: 20px;
    width: 30px;
}
.a-links{
    margin-top: 20px;
    height: 40px;
}
.a-links img{
    height: 35px;
    margin-left: 20px;
}
.cards{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(12, 182, 131);
}